{include file="public/head" /}
<style>
    .swipe-right{
        padding: 0 15px;
        margin-top: 30px;
    }
    .swipe-right input{
        width: 100%;
        background-color: #e4e4e4;
        line-height: 36px;
        border-radius: 5px;
        border: 0;
    }
</style>
<div class="form">
    <div class="form-item">
        <div class="form-label">
            登录名
        </div>
        <div class="form-input">
            <input type="text" placeholder="手机/会员/邮箱" />
        </div>
    </div>
    <div class="swipe-right">
        <input type="button" value="向右滑动验证">
    </div>
</div>