{include file="public/head" /}
<style>
    .forget-pwd{
        text-align: right;
        padding: 0 15px;
        line-height: 36px;
    }
    .forget-pwd a{
        font-size: 13px;
    }
    .register{
        margin: 50px 0;
        text-align: center;
    }
    .register a{
        width: 120px;
        text-align: center;
        line-height: 36px;
        margin: 0 auto;
        color: #ff6633;
        border: 1px solid #ff6633;
        border-radius: 5px;
        display: inline-block;
    }
</style>
<div class="form">
    <div class="form-item">
        <div class="form-label">
            账户
        </div>
        <div class="form-input">
            <input type="text" placeholder="手机/会员/邮箱" id="user-name" />
        </div>
    </div>
    <div class="form-item">
        <div class="form-label">
            密码
        </div>
        <div class="form-input">
            <input type="password" placeholder="请输入密码" id="password" />
        </div>
    </div>
    <div class="form-submit">
        <input type="button" value="登录" id="submit">
    </div>
    <div class="forget-pwd">
        <a href="{:url('Login/findPwd')}">忘记密码</a>
    </div>
</div>
<div class="register">
    <a href="{:url('Login/register')}">免费注册</a>
</div>
{include file="plug_js/jquery" /}
{include file="plug_js/layer" /}
<script>
    $(function(){
        var login = {
            data: {
                userName: '',
                password: ''
            },
            checkData: function(){
                var that = this;
                if(that.data.userName == ''){
                    layer.open({
                        content: '账户不能为空'
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });
                    return false;
                }
                if(that.data.password == ''){
                    layer.open({
                        content: '密码不能为空'
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });
                    return false;
                }
                return true;
            },
            submit: function(){
                var that = this;
                that.data.userName = $('#user-name').val();
                that.data.password = $('#password').val();
                if(!that.checkData()){
                    return;
                }
                myHttp.ajax({
                    url: '/api/resident_login',
                    data: {
                        user_name: that.data.userName,
                        password: that.data.password,
                        login_mod: 1
                    },
                    success: function(res){

                    },
                    error: function(res){
                        myLayer.alert(res.ErrorMsg);
                    }
                })
            }
        };
        $('#submit').click(function(){
            login.submit();
        })

    });
</script>