<style>
    .logo{
        padding: 50px 0;
    }
    .logo img{
        width: 200px;
        margin: 0 auto;
        display: block;
    }
    .btn-div{
        padding: 0 20px;
        margin-bottom: 30px;
    }
    .btn-div .btn{
        width: 100%;
        line-height: 48px;
        color: #fff;
        text-align: center;
        margin-top: 30px;
        border-radius: 5px;
    }
    .btn-div .btn a{
        color: #fff;
    }
    .btn-div .wechat-login{
        background-color: #33cc00;
    }
    .btn-div .pwd-login{
        background-color: #006633;
    }
    .company-desc{
        line-height: 24px;
        padding: 0 20px 20px 20px;
        font-size: 12px;
    }
</style>
<div class="logo">
    <img src="__IMG__/logo.png" alt="">
</div>
<div class="btn-div">
    <div class="btn wechat-login"><a href="{:url('Login/wechatLogin')}">微信 快速登录</a></div>
    <div class="btn pwd-login"><a href="{:url('Login/pwdLogin')}">账户/密码登录</a></div>
</div>
<div class="company-desc">“石祥物业服务协议”欢迎你使用本软件及服务！为使用石祥物业服务软件（以下简称“本软件”）及服务，你应当阅读并遵守《石祥物业软件许可及服务协议》（以下简称“本协议”）。请你务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制、免责条款可能以加粗形式提示你注意。</div>
