{include file="public/head" /}
<style>
    .form-item input{
        width: 100%;
        height: 48px;
        line-height: 48px;
        border: 0;
    }
    .form-submit{
        margin-bottom: 50px;
    }
</style>
<div class="form-item">
    <div class="form-label">设置密码</div>
</div>
<div class="form-item">
    <input type="text" placeholder="密码提示：26397s32"/>
</div>
<div class="form-item">
    <div class="form-label">用户名</div>
</div>
<div class="form-item">
    <input type="text" placeholder="名称提示：小明"/>
</div>
<div class="form-submit">
    <a href="{:url('Login/setRegisterInfo')}"><input type="button" value="下一步" /></a>
</div>