{include file="public/head" /}
<style>
    .form-item select{
        height: 24px;
        line-height: 24px;
    }
    .form-submit{
        margin-bottom: 50px;
    }
</style>
<div class="form-item">
    <div class="form-label">物业信息</div>
    <div class="form-input">
        <select name="" id="" style="padding: 0 20px;">
            <option value="">亲情鼎苑</option>
        </select>
    </div>
</div>
<div class="form-item">
    <div class="form-label">房号</div>
    <div class="form-input">
        <select name="" id="">
            <option value="">1</option>
        </select>
        栋
        <select name="" id="">
            <option value="">101</option>
        </select>
        室
    </div>
</div>
<div class="form-item">
    <div class="form-label">物业信息</div>
    <div class="form-input">
        <select name="" id="" style="padding: 0 20px;">
            <option value="">我是房主</option>
        </select>
    </div>
</div>
<div class="form-item">
    <div class="form-label">身份证号码</div>
    <div class="form-input">
        <input type="text" value="请输入房屋登记人身份证号" />
    </div>
</div>
<div class="form-item">
    <div class="form-label">姓名</div>
    <div class="form-input">
        <input type="text" value="请输入姓名" />
    </div>
</div>
<div class="form-item">
    <div class="form-label">预留手机号</div>
    <div class="form-input">
        <input type="text" value="请输入房屋登记人预留手机号" />
    </div>
</div>
<div class="form-submit">
    <a href="{:url('Index/index')}"><input type="button" value="确定" /></a>
</div>