<style>
    /**-------------------top start-------------**/
    .top{
        line-height: 36px;
        height: 36px;
        display: flex;
        background-color: #07c6fd;
    }
    .top .pos{
        width: 50px;
        text-align: center;
        color: #fff;
    }
    .top .search{
        width: calc(100% - 100px);
        padding: 2px 0;
    }
    .top .search input{
        width: 100%;
        height: 32px;
        line-height: 32px;
        border: 0;
    }
    .top .msg{
        width: 50px;
        text-align: center;
        color: #fff;
    }
    .top .msg a{
        color: #fff;
    }
    /**-------------------top end-------------**/
    /**-------------------banner start-------------**/
    .banner img{
        width: 100%;
    }
    /**-------------------banner end-------------**/
    /**-------------------menu start-------------**/
    .menu{
        padding: 20px 0;
        overflow: hidden;
    }
    .menu ul li{
        width: 100px;
        float: left;
        text-align: center;
    }
    .menu ul li a i{
        font-size: 24px;
        width: 100%;
        line-height: 30px;
        display: inline-block;
    }
    .menu ul li a span{
        font-size: 14px;
        width: 100%;
        line-height: 30px;
        display: inline-block;
    }
    /**-------------------menu end-------------**/
    /**-------------------notice start-------------**/
    .notice{
        padding: 20px;
        display: flex;
        background-color: #eee;
    }
    .notice .title{
        width: 48px;
        line-height: 24px;
        text-align: center;
        border: 1px solid #ccc;
        font-size: 14px;
        background-color: #fff;
    }
    .notice .notice-con{
        width: calc(100% - 68px);
        color: red;
        font-size: 12px;
        padding: 4px 0;
        line-height: 20px;
        margin-left: 20px;
        background-color: #ddd;
    }
    .notice .notice-con span{
        color: #999;
    }
    /**-------------------notice end-------------**/
</style>
<div class="top">
    <div class="pos">
        <i class="iconfont icon-weizhi"></i>
    </div>
    <div class="search">
        <input type="text" />
    </div>
    <div class="msg">
        <a href="message.html"><i class="iconfont icon-xiaoxi"></i></a>
    </div>
</div>
<div class="banner">
    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1542390248290&di=17fffd54184eca09feabf19a1977a13d&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01a42458200047a84a0d304f8aa1df.jpg" alt="">
</div>
<div class="menu">
    <ul>
        <li>
            <a href="">
                <i class="iconfont icon-wodejiaofei"></i>
                <span>我的缴费</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="iconfont icon-daiban"></i>
                <span>待办事项</span>
            </a>
        </li>
    </ul>
</div>
<div class="notice">
    <div class="title">通知<br/>通告</div>
    <div class="notice-con">
        <span>公告：</span>停电通知：接供电公司通知，9月21日下午1点至6点停电...
    </div>
</div>