{include file="public/head" /}
<style>
    .msg-item{
        padding: 0 15px;
    }
    .msg-item .msg-date{
        text-align: center;
        line-height: 30px;
        padding: 5px;
    }
    .msg-item .msg-date span{
        background-color: #ccc;
        color: #fff;
        padding: 3px 10px;
        border-radius: 8px;
    }
    .msg-item .msg-content{
        border: 1px solid #8d8d8d;
        border-radius: 10px;
        padding: 5px 10px;
    }
    .msg-item .msg-content .msg-title{
        line-height: 30px;
        border-bottom: 1px solid #8d8d8d;
    }
    .msg-item .msg-content .msg-title i{
        color: #ff9900;
    }
    .msg-item .msg-content .msg-txt{
        line-height: 24px;
        padding: 5px 10px;
        font-size: 12px;
    }
</style>
<div class="msg-item">
    <div class="msg-date">
        <span>7月28日</span>
    </div>
    <div class="msg-content">
        <div class="msg-title">
            <i class="iconfont icon-tongzhi"></i>
            小纸条
        </div>
        <div class="msg-txt">
            您的2018年物业费未缴纳，还请及时缴纳噢。
        </div>
    </div>
</div>