{include file="public/head" /}
<style>
    .about-us-img{
        padding: 15px;
    }
    .about-us-img img{
        width: 100%;
    }
    .about-us{
        padding: 0 15px 20px 15px;
        line-height: 24px;
        text-indent: 2em;
    }
</style>
<div class="about-us-img">
    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1542628250876&di=eec767b15b88e12ebb0b3519782d0001&imgtype=0&src=http%3A%2F%2Fimg.mp.itc.cn%2Fupload%2F20161216%2Fcc40578ff3804a37ab26be8c1f876e31_th.jpeg" alt="" />
</div>
<div class="about-us">
    “石祥物业服务协议”欢迎你使用本软件及服务！为使用石祥物业服务软件（以下简称“本软件”）及服务，你应当阅读并遵守《石祥物业软件许可及服务协议》（以下简称“本协议”）。请你务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制、免责条款可能以加粗形式提示你注意。
</div>