<style>
    body{
        padding-bottom: 150px;
    }
    .top{
        width: 100%;
        background-color: #07c6fd;
        height: 80px;
        position: relative;
    }
    .top .user-set{
        position: absolute;
        left: 15px;
        top: 15px;
    }
    .top .user-set a{
        color: #fff;
    }
    .top .user-set i{
        width: 30px;
        height: 30px;
        display: block;
    }
    .user-info{
        width: calc(100% - 30px);
        margin: 0 auto;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        top: -30px;
        background-color: #fff;
    }
    .menu-item{
        padding: 0 15px;
        border-bottom: 1px solid #ccc;
        line-height: 48px;
        position: relative;
    }
    .menu-item .icon{
        position: absolute;
        top: 0;
        right: 15px;
    }
</style>
<div class="top">
    <div class="user-set">
        <a href="{:url('User/userSet')}">
            <i class="iconfont icon-shezhi"></i>
        </a>
    </div>
</div>
<div class="user-info">
    张三丰
</div>
<div class="menu-item">
    <a href="{:url('Manager/feeList')}">
        <div class="menu-name">我的账单</div>
        <div class="icon">
            <i class="iconfont icon-dingdan"></i>
        </div>
    </a>
</div>
<div class="menu-item">
    <a href="{:url('User/myFamily')}">
        <div class="menu-name">我的家庭成员/租客</div>
        <div class="icon">
            <i class="iconfont icon-hunyinjiating"></i>
        </div>
    </a>
</div>
<!--<div class="menu-item">-->
    <!--<a href="{:url('User/assess')}">-->
        <!--<div class="menu-name">评价我们</div>-->
        <!--<div class="icon">-->
            <!--<i class="iconfont icon-pingjia"></i>-->
        <!--</div>-->
    <!--</a>-->
<!--</div>-->
<div class="menu-item">
    <a href="{:url('User/aboutUs')}">
        <div class="menu-name">关于我们</div>
        <div class="icon">
            <i class="iconfont icon-about"></i>
        </div>
    </a>
</div>
{include file="public/bottom_nav" /}