{include file="public/head" /}
<div class="form-item">
    <div class="form-label">新手机号</div>
    <div class="form-input">
        <input type="text" placeholder="请输入新的手机号码" id="new-phone" />
    </div>
</div>
<div class="form-item">
    <div class="form-label">验证码</div>
    <div class="form-input">
        <input type="text" placeholder="验证码" id="verify-code" />
        <div class="get-verify-code">
            <a href="javascript:;" id="get-verify-code">获取验证码</a>
        </div>
    </div>
</div>
<div class="form-submit">
    <div class="input" id="change-phone">提交</div>
</div>
{include file="plug_js/jquery" /}
{include file="plug_js/layer" /}
<script>
    $(function(){
        var verify = {
            data: {
                phone: '',
                verifyTxt: '获取验证码',
                secondInit: 0,
                second: 60
            },
            init: function(){
                var that = this;
                that.data.secondInit = that.data.second;
            },
            resetVerifyTxt: function(){
                var that = this;
                that.data.second--;
                if(that.data.second > 0){
                    $('#get-verify-code').addClass('no-active');
                    $('#get-verify-code').html(that.data.second + '秒');
                    setTimeout(function(){
                        that.resetVerifyTxt();
                    }, 1000);
                }else{
                    that.data.second = that.data.secondInit;
                    $('#get-verify-code').removeClass('no-active');
                    $('#get-verify-code').html(that.data.verifyTxt);
                }
            },
            checkSendAuth: function(){
                var that = this;
                if(that.data.phone == ''){
                    myLayer.alert('请输入新手机号码');
                    return false;
                }
                if(myCheck.checkPhone(that.data.phone) == ''){
                    myLayer.alert('手机号码格式不正确');
                    return false;
                }
                if(that.data.second < that.data.secondInit){
                    myLayer.alert('发送间隔不得超过' + that.data.secondInit + '秒');
                    return false;
                }
                return true;
            },
            checkNewPhone: function(newPhone, successCallBack){
                myHttp.ajax({
                    url: "{:url('RequestApi/request_ajax')}",
                    data: {
                        api_action: 'check_account_isexit',
                        user_name: newPhone,
                        type: 1
                    },
                    success: function(){
                        successCallBack();
                    },
                    error: function(res){
                        myLayer.alert('该手机号已被绑定');
                        return false;
                    }
                });
            },
            sendVerifyCode: function(){
                var that = this;
                that.data.phone = $('#new-phone').val();
                if(!that.checkSendAuth()){
                    return;
                }
                that.checkNewPhone(that.data.phone, function(){
                    that.resetVerifyTxt();
                    myHttp.ajax({
                        url: "{:url('RequestApi/request_ajax')}",
                        data: {
                            api_action: 'sms_send',
                            phone: that.data.phone,
                            type: 1
                        },
                        success: function(){

                        },
                        error: function(res){
                            myLayer.alert(res.ErrorMsg);
                        }
                    });
                });
            }
        };
        var set_phone = {
            data: {
                phone: '',
                verifyCode: ''
            },
            checkData: function(){
                var that = this;
                if(that.data.phone == ''){
                    myLayer.alert('手机号码不能为空');
                    return false;
                }
                if(!myCheck.checkPhone(that.data.phone)){
                    myLayer.alert('手机号码格式不正确');
                    return false;
                }
                if(that.data.verifyCode == ''){
                    myLayer.alert('验证码不能为空');
                    return false;
                }
                return true;
            },
            submit: function(){
                var that = this;
                that.data.phone = $('#new-phone').val();
                that.data.verifyCode = $('#verify-code').val();
                if(!that.checkData()){
                    return;
                }
                verify.checkNewPhone(that.data.phone, function(){
                    myHttp.ajax({
                        url: "{:url('RequestApi/request_ajax')}",
                        data: {
                            api_action: 'set_resident',
                            phone: that.data.phone,
                            verify_code: that.data.verifyCode,
                            type: 1
                        },
                        success: function(){
                            location.href = "{:url('User/userSet')}";
                        },
                        error: function(res){
                            myLayer.alert(res.ErrorMsg);
                        }
                    });
                });
            }
        };
        verify.init();
        $('#get-verify-code').click(function(){
            verify.sendVerifyCode();
        });
        $('#change-phone').click(function(){
            set_phone.submit();
        });
    });
</script>