{include file="public/head" /}
<div class="form-item">
    <div class="form-label">姓名</div>
    <div class="form-input">
        <input type="text" placeholder="请输入姓名" id="name" />
    </div>
</div>
<div class="form-item">
    <div class="form-label">身份证号</div>
    <div class="form-input">
        <input type="text" placeholder="请输入身份证号" id="id-card-no" />
    </div>
</div>
<div class="form-item">
    <div class="form-label">预留手机号</div>
    <div class="form-input">
        <input type="text" placeholder="请输入预留手机号" id="user-phone" />
    </div>
</div>
<div class="form-submit">
    <input type="button" value="提交" id="set-info">
</div>
{include file="plug_js/jquery" /}
{include file="plug_js/layer" /}
<script>
    $(function(){
        var set_info = {
            data: {
                token: '',
                userId: '',
                idCardNo: '',
                name: '',
                userPhone: '',
            },
            checkData: function(){
                var that = this;
                if(that.data.name == ''){
                    myLayer.alert('姓名不能为空');
                    return false;
                }
                if(that.data.idCardNo == ''){
                    myLayer.alert('身份证号不能为空');
                    return false;
                }
                if(that.data.userPhone == ''){
                    myLayer.alert('手机号不能为空');
                    return false;
                }
                return true;
            },
            submit: function(){
                var that = this;
                that.data.idCardNo = $('#id-card-no').val();
                that.data.userPhone = $('#user-phone').val();
                that.data.name = $('#name').val();
                if(!that.checkData()){
                    return;
                }
                var post_data = {
                    token: that.data.token,
                    resident_id: that.data.userId,
                    identification: that.data.idCardNo,
                    uphone: that.data.userPhone,
                    name: that.data.name,
                    is_maintenance_staff: that.data.isStaff
                };
                if(that.data.isStaff == 0){
                    post_data.room_id = 1;
                    post_data.resident_type = 1;
                }
                myHttp.ajax({
                    url: '/api/save_bind_community_room',
                    data: post_data,
                    success: function(){
                        location.href = "{:url('Index/index')}";
                    }
                })
            }
        };
        $('#set-info').click(function(){
            set_info.submit();
        });
    });
</script>