{include file="public/head" /}
<style>
    .set-item{
        line-height: 48px;
        padding: 0 15px;
        border-bottom: 1px solid #ccc;
    }
    .set-item a{
        display: block;
    }
    .set-item i{
        float: right;
    }
    .login-out{
        width: 100%;
        padding: 0 15px;
        margin-top: 80px;
    }
    .login-out a{
        width: 100%;
        display: block;
        line-height: 36px;
        background-color: #07c6fd;
        border: 0;
        color: #fff;
        text-align: center;
    }
</style>
<div class="set-list">
    <div class="set-item">
        <a href="{:url('User/roomList')}">
            房号设置
            <i class="iconfont icon-bianhaoshezhi"></i>
        </a>
    </div>
    <div class="set-item">
        <a href="{:url('User/setPhone')}">
            修改手机号码
            <i class="iconfont icon-shouji"></i>
        </a>
    </div>
    <div class="set-item">
        <a href="{:url('User/setBasicInfo')}">
            基础信息设置
            <i class="iconfont icon-shezhi"></i>
        </a>
    </div>
</div>
<div class="login-out">
        <a href="{:url('Login/loginOut')}">退出当前账号</a>
</div>